Como primer paso importamos las librerias, en este caso pandas.
Cargamos los archivos y por ultimo creamos el ID

In [1]:
import pandas as pd
netflix = pd.read_csv("netflix_titles-score.csv")#Cargamos el csv
netflix.insert(0, 'ID', 'n' + netflix['show_id'])#Insertamos una nueva columna en la posicion 0 con criterio del ID
netflix = netflix.set_index('ID')

In [2]:

amazon = pd.read_csv("amazon_prime_titles-score.csv")#Cargamos el csv
amazon.insert(0,'ID', 'a' + amazon['show_id'])#Insertamos la columna del ID
amazon = amazon.set_index('ID')

In [3]:
hulu = pd.read_csv('hulu_titles-score (2).csv')
hulu.insert(0, 'ID', 'h' + hulu['show_id'])
hulu = hulu.set_index('ID')

In [4]:
disney = pd.read_csv('disney_plus_titles-score.csv')
disney.insert(0, 'ID', 'd' + disney['show_id'])
disney = disney.set_index('ID')

Luego verificamos que Data nos estan proporcionando para entender que proceso se debe serguir.

In [5]:
hulu.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
ID,,,,,,,,,,,,,
hs1,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,48
hs2,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",8
hs3,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,8

In [24]:
netflix.head(3)
netflix.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8807 entries, ns1 to ns8807
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        8807 non-null   object
 1   type           8807 non-null   object
 2   title          8807 non-null   object
 3   director       6173 non-null   object
 4   cast           7982 non-null   object
 5   country        7976 non-null   object
 6   date_added     8709 non-null   object
 7   release_year   8807 non-null   int64
 8   rating         8807 non-null   object
 9   listed_in      8807 non-null   object
 10  description    8807 non-null   object
 11  score          8807 non-null   int64
 12  duration_int   8807 non-null   int32
 13  duration_type  8807 non-null   object
dtypes: int32(1), int64(2), object(11)
memory usage: 997.7+ KB

In [7]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9668 entries, as1 to as9668
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
 12  score         9668 non-null   int64
dtypes: int64(2), object(11)
memory usage: 1.0+ MB

In [8]:
hulu.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3073 entries, hs1 to hs3073
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
 12  score         3073 non-null   int64
dtypes: float64(1), int64(2), object(10)
memory usage: 336.1+ KB

In [9]:
disney.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1450 entries, ds1 to ds1450
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
 12  score         1450 non-null   int64
dtypes: int64(2), object(11)
memory usage: 158.6+ KB

Una vez visto esto, vemos que tenemos nulos en la columna 'rating' y los remplazamos con 'G'

In [5]:
netflix['rating'].fillna('G', inplace=True)#Replazamos los null con 'G'
amazon['rating'].fillna('G', inplace=True)
hulu['rating'].fillna('G', inplace=True)
disney['rating'].fillna('G', inplace=True)

Despues cambiamos el formato de fecha a AAAA-mm-dd

En este caso lo que se hizo fue primero convertirlo en formato '%B %d, %Y' para que sea mas manipulable, y luego convertirlo en formato AAAA-mm-dd

In [12]:
netflix['date_added'] = pd.to_datetime(netflix['date_added'], format='%B %d, %Y', errors='coerce') #Primero convertimos la fecha en formato %B %d, %Y
netflix['date_added'] = netflix['date_added'].dt.strftime('%Y-%m-%d')#convertimos la fecha como AAAA-mm-dd

amazon['date_added'] = pd.to_datetime(amazon['date_added'], format='%B %d, %Y', errors='coerce') 
amazon['date_added'] = amazon['date_added'].dt.strftime('%Y-%m-%d')

hulu['date_added'] = pd.to_datetime(hulu['date_added'], format='%B %d, %Y', errors='coerce') 
hulu['date_added'] = hulu['date_added'].dt.strftime('%Y-%m-%d')

disney['date_added'] = pd.to_datetime(disney['date_added'], format='%B %d, %Y', errors='coerce') 
disney['date_added'] = disney['date_added'].dt.strftime('%Y-%m-%d')

En esta parte tenemos que convertir todos los textos en minusculas, lo que se hizo fue crear una funcion lambda la cual se itero para encontrar cada texto y convertirlo a minuscula

In [13]:
netflix = netflix.apply(lambda x: x.str.lower() if x.dtype == 'object' else x)#Creamos una funcion que todos los campos de texto los convierta en minuscula
amazon = amazon.apply(lambda x: x.str.lower() if x.dtype == 'object' else x)
hulu = hulu.apply(lambda x: x.str.lower() if x.dtype == 'object' else x)
disney = disney.apply(lambda x: x.str.lower() if x.dtype == 'object' else x)

Apartir de la columna 'duration' creamos dos columnas expandiendo la primero, separando los numero con el tipo de duracion

In [16]:
netflix[['duration_int','duration_type']] = netflix['duration'].str.split(' ', expand=True)
netflix['duration_int'] = netflix['duration_int'].fillna(0).astype(int)
netflix['duration_int'] = netflix['duration_int'].astype(int)
netflix['duration_type'] = netflix['duration_type'].astype(str)
netflix.drop(columns=['duration'], inplace=True)

amazon[['duration_int','duration_type']] = amazon['duration'].str.split(' ', expand=True)
amazon['duration_int'] = amazon['duration_int'].fillna(0).astype(int)
amazon['duration_int'] = amazon['duration_int'].astype(int)
amazon['duration_type'] = amazon['duration_type'].astype(str)
amazon.drop(columns=['duration'], inplace=True)

hulu[['duration_int','duration_type']] = hulu['duration'].str.split(' ', expand=True)
hulu['duration_int'] = hulu['duration_int'].fillna(0).astype(int)
hulu['duration_int'] = hulu['duration_int'].astype(int)
hulu['duration_type'] = hulu['duration_type'].astype(str)
hulu.drop(columns=['duration'], inplace=True)

disney[['duration_int','duration_type']] = disney['duration'].str.split(' ', expand=True)
disney['duration_int'] = disney['duration_int'].fillna(0).astype(int)
disney['duration_int'] = disney['duration_int'].astype(int)
disney['duration_type'] = disney['duration_type'].astype(str)
disney.drop(columns=['duration'], inplace=True)

In [17]:
disney.info()
disney.head(4)

<class 'pandas.core.frame.DataFrame'>
Index: 1450 entries, ds1 to ds1450
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        1450 non-null   object
 1   type           1450 non-null   object
 2   title          1450 non-null   object
 3   director       977 non-null    object
 4   cast           1260 non-null   object
 5   country        1231 non-null   object
 6   date_added     1447 non-null   object
 7   release_year   1450 non-null   int64
 8   rating         1450 non-null   object
 9   listed_in      1450 non-null   object
 10  description    1450 non-null   object
 11  score          1450 non-null   int64
 12  duration_int   1450 non-null   int32
 13  duration_type  1450 non-null   object
dtypes: int32(1), int64(2), object(11)
memory usage: 164.3+ KB

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,score,duration_int,duration_type
ID,,,,,,,,,,,,,,
ds1,s1,movie,duck the halls: a mickey mouse christmas special,"alonso ramirez ramos, dave wasson","chris diamantopoulos, tony anselmo, tress macn...",NaN,2021-11-26,2016,tv-g,"animation, family",join mickey and the gang as they duck the halls!,100,23,min
ds2,s2,movie,ernest saves christmas,john cherry,"jim varney, noelle parker, douglas seale",NaN,2021-11-26,1988,pg,comedy,santa claus passes his magic bag to a new st. ...,17,91,min
ds3,s3,movie,ice age: a mammoth christmas,karen disher,"raymond albert romano, john leguizamo, denis l...",united states,2021-11-26,2011,tv-g,"animation, comedy, family",sid the sloth is on santa's naughty list.,92,23,min
ds4,s4,movie,the queen family singalong,hamish hamilton,"darren criss, adam lambert, derek hough, alexa...",NaN,2021-11-26,2021,tv-pg,musical,"this is real life, not just fantasy!",35,41,min

Por ultimo despues de verificar todo, creamos los csv donde meteremos nuestros datos ya transfomados y listo para la API

In [20]:
netflix.to_csv("PLATAFORMS/netflix.csv")
amazon.to_csv("PLATAFORMS/amazon.csv")
hulu.to_csv("PLATAFORMS/hulu.csv")
disney.to_csv("PLATAFORMS/disney.csv")